# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.ipynb
.env
.venv
venv/

# Poetry / Pip
poetry.lock
pip-wheel-metadata/

# Docker
*.log

# VSCode / IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Build
dist/
build/
*.egg-info/
